<!DOCTYPE html>

<!-- SOURCES 
    For everything related to Project Drawdon: https://www.drawdown.org/
    Text about drawdown adapted directly from their site
    Tailwind CSS: https://tailwindcss.com/
    Vue.js: https://vuejs.org/
    Gulp.js: https://gulpjs.com/
    Animate on scroll library: https://michalsnik.github.io/aos/
    For info about how I use the tailwind/gulp/aos setup: https://github.com/smanning29/final (Vue is not included becuase that was for this project specifically)
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/solutions.js" defer></script>
    <title>Solutions</title>
</head>
<body>
    <div class="container overflow-x-hidden overflow-y-auto" id="app">

        <!-- WEBSITE HEADER -->
        <div class="w-full text-center text-xl flex flex-row bg-white z-50 ">
            <header class=" w-1/2 font-display text-drawdown text-base md:text-mdlg text-left pt-5 pb-2" data-aos="fade">
                DRAWDOWN ADAPTED
                <!-- <h1 class="font-display text-drawdown text-base md:text-mdlg text-left" data-aos="fade">
                    DRAWDOWN ADAPTED
                </h1> -->
            </header>
            <nav class=" w-1/2 text-body text-sml md:text-base text-drawdown text-right pb-0 mb-0 pt-3 md:pt-10">
                <a href="index.html" class="px-5 hover:text-sky" data-aos="fade" data-aos-delay="50">HOME</a>

                <!-- ADD SEARCH HERE  -->
                
                <!-- <a href="#" class="px-5 hover:text-sky" data-aos="fade" data-aos-delay="100">SOLUTIONS</a> -->
            </nav>
        </div>

        <div id="top-anchor"></div>
        <article class="md:flex md:flex-row bg-fixed pt-24 lg:pt-32 xl:bg-top-1 lg:bg-center-top md:bg-top-2 bg-top-3 bg-no-repeat  lg:bg-100 xl:bg-90 z-10" v-bind:style="{ backgroundImage: bgImgs[solutionIndex]}" x-init="changeBgImage()" id="mainArticle" data-aos="fade" >
            <section class="" >
                
                <!-- SOLUTION HEADER -->
                  <!-- BACKGROUND IMAGE & L/R CONTROLS -->
                <div class="flex flex-row pb-24 lg:pb-32" >
                    <button class="flex-initial w-1/8 object-left lg:pl-8"  v-on:click="left">
                        <img src="img/left.png" alt="Left arrow" id="l-arrow" class="object-left text-left" data-aos="fade" data-aos-delay="100">
                    </button>
                    <div class="w-3/4">  </div>
                    <button class="flex-initial w-1/8 object-right"  v-on:click="right"> 
                        <img src="img/right.png" alt="Right arrow" id="r-arrow" class="object-right text-right right-0" data-aos="fade" data-aos-delay="100">
                    </button>
                </div>
                    <!-- SOLUTION NUMBER AND TITLE -->
                <div data-aos="fade">
                    <div class=" bg-drawdown50 font-hairline italic px-10 py-2">
                        <p class="text-left text-white font-body text-sm" v-html="solNum[solutionIndex]">
                            Solution #1 of 100
                        </p>
                    </div>
                    <div class="w-full bg-drawdown px-10 py-2" >
                        <h2 class="text-left text-white font-display text-md md:text-mdlg" v-html="solHeaders[solutionIndex]">
                            SOLUTION HEADER
                        </h2>
                    </div>
                </div>

                <!-- FLEX CONTAINER FOR MAIN SOLUTION SECTION -->
                <div class="lg:flex lg:flex-row bg-white font-body">

                    <!-- MAIN BODY TEXT SECTION -->
                    <div class="lg:order-2 lg:w-3/4" data-aos="fade">

                        <!-- REQ -->
                        <p class="p-5 text-smd mt-5 md:leading-8" v-html="firstPar[solutionIndex]">
                            paragraph 1
                        </p>
                        <h3 class="font-light font-body text-base text-drawdown tracking-wide px-5"  v-html="firstSubH[solutionIndex]">
                            subheader 1
                        </h3>
                        <p class="p-5 text-smd md:leading-8" v-html="secondPar[solutionIndex]">
                            paragraph 2
                        </p>
                        <img v-bind:src="firstImg[solutionIndex]" alt="Image" class="px-5">
                        <div class="text-drawdown p-5" v-html="firstImgCap[solutionIndex]" >
                            image caption
                        </div>
                        <h3 class="font-light font-body text-base text-drawdown tracking-wide px-5" v-html="secondSubH[solutionIndex]">
                            subheader 2
                        </h3>
                        <p class="p-5 text-smd md:leading-8" v-html="thirdPar[solutionIndex]">
                            paragraph 3
                        </p>

                        <!-- CONDITIONAL PARAGRAPHS -->
                        <h3 v-if="thirdSubH[solutionIndex] != 'no'" class="font-light font-body text-base text-drawdown tracking-wide px-5" v-html="thirdSubH[solutionIndex]">
                            subheader 3
                        </h3>
                        <p v-if="fourthPar[solutionIndex] != 'no'" class="p-5 text-smd md:leading-8" v-html="fourthPar[solutionIndex]">
                            paragraph 4
                        </p>

                        <!-- REQ -->
                        <img v-bind:src="secondImg[solutionIndex]" alt="Image" class="px-5">
                        <div class="text-drawdown p-5" v-html="secondImgCap[solutionIndex]" >
                            image caption
                        </div>

                        <!-- CONDITIONAL PARAGRAPHS -->
                        <h3 v-if="fourthSubH[solutionIndex] != 'no'" class="font-light font-body text-base text-drawdown tracking-wide px-5" v-html="fourthSubH[solutionIndex]">
                            subheader 4
                        </h3>
                        <p v-if="fifthPar[solutionIndex] != 'no'" class="p-5 text-smd md:leading-8" v-html="fifthPar[solutionIndex]">
                            paragraph 5
                        </p>

                        <!-- CONDITIONAL IMAGE -->
                        <div v-if="thirdImg[solutionIndex] != 'no'">
                            <img v-bind:src="thirdImg[solutionIndex]" alt="Image" class="px-5">
                            <div class="text-drawdown p-5" v-html="thirdImgCap[solutionIndex]" >
                                image caption
                            </div>
                        </div>

                        <div class="flex flex-row p-5 pb-10">
                            
                                <!-- <div class="w-1/2 bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center mr-2 p-5 text-smd rounded-md" v-on:click="leftTop">
                                    PREVIOUS SOLUTION
                                </div>
                            
                                <div class="w-1/2 bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center ml-2 p-5 text-smd rounded-md" v-on:click="rightTop">
                                    NEXT SOLUTION
                                </div> -->
                            
                                <a class="w-1/2 bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center mr-2 p-5 text-smd rounded-md" v-on:click="left" href="#top-anchor">
                                    PREVIOUS SOLUTION
                                </a>
                            
                                <a class="w-1/2 bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center ml-2 p-5 text-smd rounded-md" v-on:click="right" href="#top-anchor">
                                    NEXT SOLUTION
                                </a>
                        </div>

                    </div>

                    <!-- LEFT SIDE BAR -->
                    <aside class="lg:order-1 lg:w-1/4 p-5" data-aos="fade">

                        <div class="my-5 p-5 bg-forest text-white font-light tracking-wider text-smd" >
                            <div class="font-display text-mdlg" v-html="coNum[solutionIndex]">
                                57.6–159
                            </div>
                            GIGATONS
                            <div class="text-sm pt-2">CO2 EQUIVALENT <br> REDUCED / SEQUESTERED (2020–2050)</div>
                        </div>

                        <div v-if="keyWords[solutionIndex] != 'no'">
                            <div class="bg-sun p-2 text-white text-base text-center tracking-wide" >
                                KEY WORDS
                            </div>
                            <div class="bg-sun25">
                                <div class="p-5" v-html="keyWords[solutionIndex]">
                                    key words
                                </div>
                            </div>
                        </div>

                        <a v-bind:href="solLink[solutionIndex]" target="_blank">
                            <div class="bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center my-5 p-5 text-smd rounded-md">
                                VIEW THE ORIGINAL SOLUTION
                            </div>
                        </a>
                        <a v-bind:href="solPDF[solutionIndex]" target="_blank">
                            <div class="bg-drawdown hover:bg-sky text-white hover:text-drawdown text-center my-5 p-5 text-smd rounded-md">
                                DOWNLOAD THIS SOLUTION TO PRINT
                            </div>
                        </a>
                        <a class="text-drawdown italic hover:underline" href="">
                            or download Top 20 Solutions to print
                        </a>
                        
                    </aside>

                </div>
            </section>

        </article>
        
        
     </div> <!-- container -->
     
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
     <script>
       AOS.init();
     </script>
</body>
</html>